{% extends '::site.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Page not found</h1>
                <p>The page may have been deleted, who knows ?</p>
            </div>
        </div>
    </div>
{% endblock %}
