{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/bootswatch.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">IsItYet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}

            <div id="instances-dropdown">
                {% include ":mixins:instances-dropdown.html.twig" %}
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

    {#Temp beta ribbon#}
    <div class="ribbon-wrapper">
        <div class="ribbon success">
            Beta !
        </div>
    </div>

{% endblock %}
