{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% if app.environment == 'prod' %}
<!-- prod:bootstrap.css -->
<link rel="stylesheet" href="/compiled/css/bootstrap.css/bootstrap.css" />
<!-- endbuild -->

<!-- prod:main.css -->
<link rel="stylesheet" href="/compiled/css/main.css/main.css" />
<!-- endbuild -->
{% else %}
<!-- dev:bootstrap.css -->
<link rel="stylesheet" href="/compiled_dev/css/bootstrap.css/bootswatch_0.css" />
<!-- endbuild -->

<!-- dev:main.css -->
<link rel="stylesheet" href="/compiled_dev/css/main.css/main_0.css" />
<!-- endbuild -->
{% endif %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">IsItYet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}

            <div id="instances-dropdown">
                {% include ":mixins:instances-dropdown.html.twig" %}
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
{% endblock %}