{% extends 'site.html.twig' %}

{% block body %}
    {{ parent() }}

    <div id="instance-form"></div>
{% endblock %}

{% block react %}
{% if app.environment == 'prod' %}
<!-- prod:app-form.js -->
<!-- endbuild -->
{% else %}
<!-- dev:app-form.js -->
<script src="/compiled_dev/jsx/app-form.js/app-instance.js"></script>
<!-- endbuild -->
{% endif %}
{% endblock %}