{% extends 'site.html.twig' %}

{% block title %}
    {% if instance is defined %}
        {{ instance.data.title }} -
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block javascript_head %}
    {% if instance is defined %}
        var instanceData = {{ instance | serialize('json') | raw }};
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if instance is defined %}
        {% include ":mixins:sharing.html.twig" %}
    {% endif %}

    <div id="instance-form"></div>
{% endblock %}

{% block react %}
{% if app.environment == 'prod' %}
<!-- prod:app-form.js -->
<!-- endbuild -->
{% else %}
<!-- dev:app-form.js -->
<script src="/compiled_dev/jsx/app-form.js/app-form.js"></script>
<!-- endbuild -->
{% endif %}
{% endblock %}