{% extends 'site.html.twig' %}

{% block title %}
    {% if instance is defined %}
        {{ instance.data.title }} -
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block javascript_head %}
    {% if instance is defined %}
        var instanceData = {{ instance | serialize('json') | raw }};
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if instance is defined %}
        {% include ":mixins:sharing.html.twig" %}
    {% endif %}

    <div id="instance-form"></div>
{% endblock %}

{% block react %}
    <script src="/assets/js/app-form.js"></script>
{% endblock %}