{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.environment == 'prod' %}
        <!-- prod:instance.css -->
        <!-- endbuild -->
    {% else %}
        <!-- dev:instance.css -->
<link rel="stylesheet" href="/compiled_dev/css/instance.css/instance_0.css" />
<!-- endbuild -->
    {% endif %}
{% endblock %}

{% block javascript_head %}
    var ws_url = "ws://{{ app.request.httpHost }}:{{ ws_port }}";
    var instanceData = {{ instance | serialize('json') | raw }};
{% endblock %}

{% block react %}
{% if app.environment == 'prod' %}
<!-- prod:app-instance.js -->
<!-- endbuild -->
{% else %}
<!-- dev:app-instance.js -->
<script src="/compiled_dev/jsx/app-instance.js/app-instance.js"></script>
<!-- endbuild -->
    {% endif %}
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="main" id="instance">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}